body{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

#board{
	margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
}

.square{
	width: 54px;
	height: 54px;
	background-color: #999966;
}

.XnO{
	font-size: 40;
	text-align: center;
}